<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletClase_Producto</servlet-name>
        <servlet-class>servlet.ServletClase_Producto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletMarca_Producto</servlet-name>
        <servlet-class>servlet.ServletMarca_Producto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletProducto</servlet-name>
        <servlet-class>servlet.ServletProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletUsuario</servlet-name>
        <servlet-class>servlet.ServletUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletVenta</servlet-name>
        <servlet-class>servlet.ServletVenta</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletClase_Producto</servlet-name>
        <url-pattern>/ServletClase_Producto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletMarca_Producto</servlet-name>
        <url-pattern>/ServletMarca_Producto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletProducto</servlet-name>
        <url-pattern>/ServletProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletUsuario</servlet-name>
        <url-pattern>/ServletUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletVenta</servlet-name>
        <url-pattern>/ServletVenta</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
